body,ul,li,h1,h2,h3{ 
    font-family: arial;
    margin: 0;
    padding: 0;
}

header{
    /* position: relative; That means you can move position of the element */
    /* left: 100px;  away from the left */
    /* top: 100px; away from the top */
    /* position: fixed; */
    text-align: center;
    background-color: orangered;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* To to remove positions for left and top */
    left: 0;
    top: 0;
}

header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

/* Everything has z-index is 0 by default */
/* z-index is used to show items on front-side or forward side*/
/* positive z-index show item forward and negative shows item in backward*/

.banner{
    position:relative;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    position: absolute; /* take down element from normal flow => absolute that is it will have position of parent*/
    background-color: rgb(241, 170, 39);
    padding: 30px;
    color: white;
    /* bottom: 400px; */
    left: 0px;
    top: 30%; /*if you use "px" then position will be fixed but in case of "%" the position will recalculate*/
}
.banner h2{
    font-size: 74px;
}

.banner h2 span{
    font-size: 1.3em; /* here em is 74 cause it parent font is 74 and 1.3em => (1.3 * 74)  */
}

nav{
    background-color: #f4f4f4;
    padding:20px;
    text-decoration: none;
    position: sticky;
    top: 100px; /*When reach 100px screen then this element will be sticky*/ 
    /* margin: 0px; */
}
nav ul{
    white-space: nowrap; /*used to remove white space*/
    max-width: 1200px;
    margin: 0 auto; /* 0 from left and right and auto from top and bottom*/
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    text-decoration: none;
    color: #4b4b4b;
}

nav li a.join{
    color: orangered;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2{
    color: #f24646;
    font-size: 48px;
}

article p{
    line-height: 2em; /* here em of p is its text size*/
    color: #4b4b4b;
}

.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img{
    max-width: 100%; /* max width of parent of img which is li and that would be 40%*/
}

section.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}

.join h2{
    font-size: 36px;
}

form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}   

footer{
    background-color:orangered;
    text-align: center;
    color: white;
    padding: 10px;
}

/* pseudo classes */

nav li a:hover{
    text-decoration: underline;
    /* background-color: pink;
    padding: 3px; */
}

.images li:hover{
    position: relative;
    top: -4px;  /* it move upward*/ 
}

form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none; 
}

form input:valid{ /* style will applied if input value is valid */
    border: 4px solid green;
}

/*first li child*/
/* nav li:first-child{ 
    border: 4px solid red;
} */

/*
    More pseudo classes:
    -> active, disabled, enable, focus, checked, empty ..etc
*/

/* Pseudo Elements:*/

article p::first-line{
    font-weight: bold;
    font-size:1.2em ;
}

section.join p::first-letter{
    font-size: 1.5em;
}

p::selection{
    background-color: red;
}

p::after{
    content: '...';
}

/* Responsive website */

@media screen and (max-width:1400px){
    .banner .welcome h2{
        font-size: 60px;
    }
    nav li{
        font-size: 18px;
    }
}

@media screen and (max-width:960px){
    .banner .welcome h2{
        font-size: 40px;
    }
}

@media screen and (max-width:700px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 10px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 25px;
    }
    .banner .welcome span{
        font-size:1em;
    }

    .images li{
        width: 100%;
        margin: 20% auto;
        display: block;
    }
}

@media screen and (max-width:560px){
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header{
        position: relative;
    }
    nav{
        top:0;
    }
}